.tiles {
    display: inline-flex;
    text-transform:uppercase;
    font-weight:bold;
    border: 5px solid;
    border-width: 0 5px 5px 0;
    font-size: large;
    margin: 5px;
    background: white;
    justify-content: center;
    width: 10vmin;
    height: 10vmin;
    font-size: 6vmin;
    cursor: pointer;
    border-radius: 15px;
  }